img.background-video{position:absolute; width:100%; height:100%; top:0px; left:0px; }
img.cartoon_window{position:absolute; width:100%; height:100%; top:0px; left:0px; }
img.pip_window{position:absolute; width:30%; height:30%; top:65%; left:65%; }